<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qbittorrent monitor</title>
    <link rel="stylesheet" href="style.css">
    <script type="module">
      import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js'
      const columns = ['dl_info_speed', 'dl_info_data', 'up_info_speed', 'up_info_data'];
      createApp({
        data() {
          return {
            now: '',
            error: '',
            qbs: [],
            total: {},
            columns: columns,
            sortKey: '',
            sortOrders: columns.reduce((o, key) => ((o[key] = 1), o), {}),
          }
        },
        created() {
          this.init();
        },
        computed: {
          filteredData() {
            const sortKey = this.sortKey;
            const order = this.sortOrders[sortKey];
            let data = this.qbs;

            if (sortKey) {
              data = data.slice().sort((a, b) => {
                a = a[sortKey];
                b = b[sortKey];
                return (a === b ? 0 : a > b ? 1 : -1) * order;
              })
            }
            return data
          }
        },
        methods: {
          init() {
            // component is now ready.
            this.columns.forEach(c => {
              this.total[c] = 0;
            });

            fetch("/qbs")
              .then(function(response) {
                if (!response.ok) {
                  throw Error(response.statusText);
                }
                return response.json();})
              .then(data => {
                // give each item a unique id
                let id = 0;

                this.qbs = data;
                this.qbs.forEach(qb => {
                  qb.id = id++;
                  qb.get = function (key) {
                    return this[key];
                  };

                  var s = new Date();

                  fetch("/qbs/" + qb.id)
                  .then(function(response) {
                    if (!response.ok) {
                      throw Error(response.statusText);
                    }
                    return response.json();})
                  .then(data => {
                    this.error = '';
                    this.now = new Date().toLocaleTimeString();
                    this.columns.forEach(c => {
                      let v = data[c];
                      if (v != undefined) {
                        qb[c] = v;
                        this.total[c] += v; // sum up all the values
                      }
                    });
                    qb.ok = true;
                    var seconds = Math.round((new Date() - s)/10)/100;
                    console.log("Time elapsed: " + seconds + "seconds for " + qb.id);
                    })
                  .catch(error => {
                    qb.ok = false;
                    console.error('Error:', error);
                  });
                })
              })
              .catch(error => {
                this.error = error;
              });
          },
          sortBy(key) {
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
          },
          getColumnName(c) {
            return c.indexOf("speed") > -1 ? "rate" : "total";
          },
          convertBytesToHumanReadable(num) {
            if (num == undefined) {
              return '-';
            }
            const suffix = "B";
            const units = ["", "K", "M", "G", "T", "P", "E", "Z"];
            for (let unit of units) {
              if (Math.abs(num) < 1024.0) {
                return num.toFixed(1) + unit + suffix;
              }
              num /= 1024.0;
            }
            return num.toFixed(1) + "Y" + suffix;
          }
        }
      }).mount('#app');
    </script>
</head>
<body>
  <div id="app" v-cloak>
    <h1>Qbittorrent monitor</h1>

    <table>
      <thead>
        <tr>
          <th rowspan="2">Name</th>
          <th colspan="2">Download</th>
          <th colspan="2">Upload</th>
        </tr>
        <tr>
          <th v-for="c in columns"
            @click="sortBy(c)"
            :class="{ active: sortKey == c }">
            {{ getColumnName(c)}}
            <span class="arrow" :class="sortOrders[c] > 0 ? 'asc' : 'dsc'"></span>
          </th>
        </tr>
      </thead>
      <tbody>
       <tr v-for="qb in filteredData" :key="qb.id">
           <td> <a target="_blank" :href="qb.url">{{ qb.name }}</a> </td>
           <td v-for="c in columns">
            <span v-if="!qb.hasOwnProperty('ok')" class="loading"></span>
            <span v-else-if="qb.ok">{{ this.convertBytesToHumanReadable(qb.get(c)) }}</span>
            <span v-else class="failed">ERR</span>
           </td>
       </tr>
       <tr>
        <td>TOTAL</td>
        <td v-for="c in columns">
          {{ this.convertBytesToHumanReadable(total[c]) }}
        </td>
       </tr>
      </tbody>
    </table>
    <p><button @click="init">Refresh</button></p>
    <p>
      <span class="success" v-if="now">Synced at {{now}}</span>
      <span class="error" v-else-if="error">{{error}}</span>
    </p>
  </div>
</body>
</html>
