<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qbittorrent monitor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='home.js') }}"></script>
</head>
<body>
{% block content %}
    <h1>Qbittorrent monitor</h1>
    <table>
      <thead>
        <tr>
          <th rowspan="2">Name</th>
          <th colspan="2">Download</th>
          <th colspan="2">Upload</th>
        </tr>
        <tr>
          <th>rate</th>
          <th>total</th>
          <th>rate</th>
          <th>total</th>
        </tr>
      </thead>
      <tbody>
      {% for q in qb_info %}
       <tr>
           <td> <a target="_blank" href="{{ q.get('url') }}">{{ q.get('name') }}</a> </td>
           <td><span class="loading"></span></td>
           <td><span class="loading"></span></td>
           <td><span class="loading"></span></td>
           <td><span class="loading"></span></td>
       </tr>
      {% endfor %}
      </tbody>
    </table>
    <p>Updated at {{now}}</p>
{% endblock %}
</body>
</html>
